@import url(./general.css);
@import url(./fonts.css);

.nav__logo {
    width: 70px;
    height: 70px;
}

.nav__logo-white {
    text-align: end;
    padding: 5px;

}

.nav__link {
    background: #444b52;
    width: 100%;
}

.nav__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 55px;
}

.nav__list-li {
    padding: 10px;
}

.nav__list-li a {
    color: white;
    height: 100%;
    transition: .5s;
}

.nav__list-li a:hover {
    color: blue;

}

/* main  */

.main {
    margin-top: 20px;
}

.section__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.section__content-card {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
}

.section__content-card {
    display: flex;
    gap: 20px;
}

.section__content-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(33.3% - 20px);
    flex-direction: column;
    row-gap: 15px;
    border: 1px solid #000000;
    padding: 15px;
}

.products__card-item-desc {
    min-width: 150px;
}

.section__content-card picture img {
    width: 95%;
    height: 95%;
}