* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: BMWTypeNext Pro Regular, Arial, Helvetica, Roboto, sans-serif;
}



ul {
    list-style: none;
}

a {
    text-decoration: none;
    
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1140px;
}


.nav__logo {
    width: 70px;
    height: 70px;
}
.nav__logo-white {
    text-align: end;
    padding: 5px;

}
.nav__link {
    background: #444b52;
    width: 100%;
}

.nav__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 55px;
}
.nav__list-li{
    padding: 10px;
}

.nav__list-li a {
    color: white;
    height: 100%;
    transition: .5s;
}
.nav__list-li a:hover {
    color: blue;
    
}

/* products__content-collection */

.products__content-collection-item {
    padding: 15px;
    border-radius: 6px;
    background: white;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}
.products__content-collection-item-img {
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.products__content {
    display: flex;
    gap: 30px;
}
.products__content-collection-item-title {
    font-weight: 700;
    font-style: 22px;
    text-align: center;
}

.products__content-collection-item-desc {
    font-weight: normal;
    font-style: 18px;
    text-align: center;
    max-width: 400px;
}